<div class="row col-md-12">
  <h4><%= t('stocks.components.layout.resource') %></h4>
  <div>
    <%= render(layout: 'layouts/components/filter/body') do %>
      <%= search_form_for(@query, url: stocks_path) do |form| %>
        <%= render(partial: 'stocks/components/filters', locals: { form: form }) %>
        <%= render(partial: 'layouts/components/filter/footer', locals: { form: form }) %>
      <% end %>
    <% end %>
    <div class="pull-right mb-2">
      <% if can?(:read, Stock) %>
        <%= link_to(stocks_path, class: 'btn btn-sm -transparent-danger') do %>
          <i class="bi bi-arrow-left"></i>
          <%= t('application.new_output') %>
        <% end %>
      <% end %>
    </div>
  </div>
  <h6>
    <i class="bi bi-arrow-left-right"></i>
    <%= t('stocks.index.input_and_output') %>
  </h6>
  <div class="table-wrap">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th><%= sort_link(@query, :supply_name, t('.supply_name')) %></th>
          <th><%= sort_link(@query, :batch, t('.batch')) %></th>
          <th><%= sort_link(@query, :amount, t('.amount')) %></th>
          <th><%= sort_link(@query, :kind_cd, t('.kind')) %></th>
          <th><%= sort_link(@query, :reason, t('.reason')) %></th>
          <th><%= sort_link(@query, :created_by, t('.created_by')) %></th>
          <th><%= sort_link(@query, :expiration_date, t('.expiration_date')) %></th>
          <th><%= sort_link(@query, :created_at, t('.created_at')) %></th>
          <th><%= sort_link(@query, :occurrence_date, t('.occurrence_date')) %></th>
          <th><%= sort_link(@query, :source, t('.source')) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.supply.name %></td>
            <td><%= stock.batch.identifier %></td>
            <td><%= stock.amount %></td>
            <td>
              <span class="badge -<%= kind_class(stock.kind) %> w-100">
                <i class="bi bi-arrow-<%= kind_icon(stock.kind) %>"></i>
              </span>
            <td><%= stock.reason %></td>
            <td><%= link_to(stock.created_by.person.name, admin_user_path(stock.created_by)) %></td>
            <td><%= l(stock.expiration_date) %></td>
            <td><%= l(stock.created_at) %></td>
            <td><%= l(stock.occurrence_date) %></td>
            <td><%= I18n.t("activerecord.models.#{stock.source.class.name.downcase}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%=
  render partial: 'layouts/components/index/footer',
         locals: {
           resource: @stocks
         }
%>
