<div class="row">
  <div class="col-lg-12 mt-2">
    <%= form.label(:supply_id, class: 'required-label') %>
    <%= form.collection_select(:supply_id, @supplies, :id, :name, { include_blank: 'Selecione um suprimento' }, { class: 'form-control required', id: 'supply_select', required: true }) %>
  </div>
  <div class="col-lg-12 mt-2">
    <%= form.label(:stock_id, class: 'required-label', id: 'stock_label') %>
    <%= form.collection_select(:stock_id, [], :id, :formatted_identifier, { include_blank: 'Selecione um lote' }, { class: 'form-control required', required: true, id: 'stock_select' }) %>
  </div>
  <div class="col-lg-12 mt-2">
    <%= form.label(:amount, class: 'required-label', id: 'amount_label') %>
    <%= form.number_field(:amount, class: 'form-control required', required: true, id: 'amount_input') %>
  </div>
</div>
