<%= link_to(dashboard_index_path, class: "#{'active-menu' if request.path.include?(dashboard_index_path) || request.path == root_path} list-item-menu list-group-item-action",
                                  id: 'dashboard') do %>
  <div class="menu">
    <div class="icon">
      <i class="bi bi-clipboard-data"></i>
    </div>
    <span><%= t('layouts.application.dashboard') %></span>
  </div>
<% end %>

<% if can?(:read, User) %>
  <%= link_to(admin_users_path, class: "#{'active-menu' if request.path.include?(admin_users_path) || request.path.include?(user_roles_path)} list-item-menu list-group-item-action",
                                id: 'users') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-people"></i>
      </div>
      <span><%= t('admin.users.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<% if can?(:read, Stock) || can?(:read, Movement) || can?(:read, Supply) %>
  <a class="<%= 'active-menu' if request.path.include?(stocks_path) || request.path.include?(movements_path) || request.path.include?(supplies_path) %> dropdown-btn list-item-menu list-group-item-action">
    <div class="menu">
      <div class="icon">
        <i class="bi bi-boxes"></i>
      </div>
      <span>
        <span><%= t('stocks.components.layout.resource') %></span>
      </span>
    </div>
    <i id="icon-dropdown" class="bi bi-caret-down"></i>
  </a>
  <div class="dropdown-container">
    <% if can?(:read, Supply) %>
      <%= link_to(supplies_path, class: "#{'active-submenu' if request.path.include?(supplies_path)} list-item-submenu list-group-item-action",
                                 id: 'supply') do %>
        <div class="menu">
          <div class="icon">
            <i class="bi bi-capsule"></i>
          </div>
          <span><%= t('supplies.components.layout.resource') %></span>
        </div>
      <% end %>
    <% end %>
    <% if can?(:read, Stock) %>
      <%= link_to(stocks_path, class: "#{'active-submenu' if request.path.include?(stocks_path)} list-item-submenu list-group-item-action",
                               id: 'stocks') do %>
        <div class="menu">
          <div class="icon">
            <i class="bi bi-box-seam"></i>
          </div>
          <span><%= t('batches.components.layout.resource') %></span>
        </div>
      <% end %>
    <% end %>
    <% if can?(:read, Movement) %>
      <%= link_to(movements_path, class: "#{'active-submenu' if request.path.include?(movements_path)} list-item-submenu list-group-item-action",
                                  id: 'movements') do %>
        <div class="menu">
          <div class="icon">
            <i class="bi bi-arrow-left-right"></i>
          </div>
          <span><%= t('movements.components.layout.resource') %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if can?(:read, Order) %>
  <%= link_to(orders_path,
              class: "#{'active-menu' if request.path.include?(orders_path)} list-item-menu list-group-item-action",
              id: 'orders') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-list-check"></i>
      </div>
      <span><%= t('orders.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<%= link_to(root_path,
            class: "list-item-menu list-group-item-action",
            style: 'pointer-events: none; cursor: default;') do %>
  <div class="menu">
    <div class="icon">
      <i class="bi bi-file-earmark-bar-graph"></i>
    </div>
    <span><%= t('reports.components.layout.resource') %> (em breve)</span>
  </div>
<% end %>
