<div class="row">
  <div class="col-md-4">
    <%= form.text_field :identifier_cont, placeholder: t('batches.index.identifier'), class: 'form-control' %>
  </div>
  <div class="col-md-5">
    <%= form.select :created_by_id_eq, users_collection, { include_blank: 'Selecione o criador' }, class: 'form-control' %>
  </div>
  <div class="col-md-3">
    <%= form.select :supply_name_eq, Supply.all.map(&:name).sort, { include_blank: 'Selecione o suprimento' }, class: 'form-control' %>
  </div>
</div>
<hr>
<h6><%= t('batches.index.arrived_date') %></h6>
<div class="row mb-3">
  <div class="col-md-2">
    <span>Data inicial</span>
    <%= form.date_field :arrived_date_gteq, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <span>Data final</span>
    <%= form.date_field :arrived_date_lteq, class: 'form-control' %>
  </div>
</div>
<hr>
<h6><%= t('batches.index.expiration_date') %></h6>
<div class="row">
  <div class="col-md-2">
    <span>Data inicial</span>
    <%= form.date_field :arrived_date_gteq, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <span>Data final</span>
    <%= form.date_field :arrived_date_lteq, class: 'form-control' %>
  </div>
</div>
